$bg-color: #d71924;
$bg-hover: #008cc7;

#block-navegacionprincipal {
  ul {
    margin-bottom: 0;

    .sf-main {
      padding-left: 20px;
    }

    .sf-sub-indicator {
      color: $bg-color;
      border: solid #d71924;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      top: 10px;

      &::after {
        display: none;
      }
    }

    li {
      &.sf-depth-1 {
        background-color: transparent;

        &:nth-last-child(3) {
          margin-right: 65px;
        }

        &:nth-last-child(2) {
          width: 60px;

          a {
            color: transparent;
            background: url("../images/spy-glass.png") no-repeat right;
          }
        }

        &:last-child {
          width: 70px;

          a {
            color: transparent;
            background: url("../images/usr-icon.png") no-repeat right;
          }
        }
      }

      a {
        text-transform: uppercase;

        &:hover,
        &:focus,
        &.active {
          color: $bg-hover;
          background-color: transparent !important;
        }
      }
    }
  }
}

#block-navegacionprincipal-2 {
    .block-title{
        font-size: 1.5rem;
    }
    ul{
        li{
            width: 100%;
        }
    }

}

.block-superfishhome-menu {
  li {
    a {
      font-size: 0.9rem;
      padding: 1em 3.4em;

      &.is-active,
      &:hover,
      &:focus {
        background: $bg-color;
      }
    }
  }
}
