// Non-modular or client styles for asides or sidebars.
$bg-sidebar: #ecedee;
$bg-default: #d71924;
$text-color: #ffffff;
$text-hover: #2087c5;
$bg-ul: #f8f8f8;
$bg-bottom: #0189C7;

.sidebar {
  margin-top: 50px;
  background: $bg-sidebar;

  h2 {
    font-size: 1.3em;
    padding: 20px;
    margin-bottom: 0;

    &::before {
      display: none;
    }
  }

  nav {
    margin-left: -15px;
    margin-right: -15px;

    .menu {
      margin-bottom: 20px;

      @include breakpoint(medium down) {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        display: block;
        width: auto;
        margin-bottom: 0;
        background: $bg-color;
      }

      li {
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 1.4;

        @include breakpoint(medium down) {
          display: inline-block;
          padding-top: 5px;
          padding-bottom: 5px;
          width: auto;
        }

        .is-active {
          background: $bg-default;
          color: $text-color;
        }

        a {
          padding-left: 30px;
          color: #000000;

          @include breakpoint(medium down) {
            background: transparent !important;
            color: #ADADAD;
          }

          &:hover,
          &:focus {
            color: $text-hover;
          }
        }

        ul {
          background: $bg-ul;
          padding-top: 20px;
          margin-left: 0;
          padding-left: 0px;

          @include breakpoint(medium down) {
            display: none;
          }

          li {
            &:first-of-type::before {
              background: $bg-ul url(../images/li-line.png);
              height: 30px;
              margin-top: 15px;
            }

            &::before {
              background: $bg-ul url(../images/li-bullet.png);
            }

            &::before {
              content: " ";
              width: 20px;
              height: 51px;
              margin: -5px 10px 0 20px;
              float: left;
            }

            &:first-child {
              &::before {
                color: #E02222;
              }
            }
          }
        }
      }
    }
  }
}
