//Footer
$bg-hover: #008cc7;

footer.bottom-bar {
  background: $dark-gray;
  padding-top: 63px;
  padding-bottom: 63px; 
  color: $white;
  font-size: 1em;

  @include breakpoint(medium down) {
    margin-top: -40px !important;
  }

  h2 {
    font-size: 1.2em;
    color: $white;
    letter-spacing: -1px;
    margin-bottom: 4px;
    font-weight: bold;

    &:before {
      display: none;
    }
  }

  a {
    color: $white;

    &:hover,
    &:focus,
    &.active {
      color: $bg-hover;
    }
  }

  #block-menufooter {
    ul {
      li {
        display: block;
        width: 100%;

        a {
          padding: 0.4em 0;
          line-height: 0.8;

          &:hover,
          &:focus,
          &.active {
            text-decoration: underline;
          }
        }
      }
    }
  }

  #block-informaciondecontacto {
    strong {
      font-size: 1.2em;
    }
  }

  ul.social-media-links--platforms.platforms.inline.horizontal{
    margin-left: 0;
  }

  #block-socialmedialinks-2 {
    li {
      padding-right: 13px;
    }
  }
}

#block-legales {
  a {
    width: 100%;
    display: inline;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;

    @include breakpoint(medium down) {
      display: inline-block;
    }
  }
}

.bottom-bar {
  background: $medium-black;
  color: $white;
  font-size: 0.8em;
  padding: 25px 0;

  #block-copyright {
    margin-left: 30px;

    @include breakpoint(medium down) {
      margin-left: 0;

      p {
        span {
          padding-left: 10px;
          width: 100%;
          display: inline-block;
          text-align: center;
          padding-top: 10px;
          padding-bottom: 5px;
        }
      }
    }
  }

  p {
    margin-bottom: 0;
  }

  .block-legales {
    a {
      color: $white;
      padding-left: 20px;
    }
  }
}
