//Footer
$bg-hover: #008cc7;

#footer-first {
  @include breakpoint(small down) {
    padding-left: 0;
    padding-right: 0;
  }
}

footer.bottom-bar {
  background: $dark-gray;
  padding-top: 63px;
  padding-bottom: 63px;
  color: $white;
  font-size: 1em;

  @include breakpoint(small down) {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  h2 {
    font-size: 1.2em;
    color: $white;
    letter-spacing: -1px;
    margin-bottom: 4px;
    font-weight: bold;

    &:before {
      display: none;
    }
  }

  a {
    color: $white;

    &:hover,
    &:focus,
    &.active {
      color: $bg-hover;
    }
  }

  #block-menufooter {
    ul {
      li {
        display: block;
        width: 100%;

        a {
          padding: 0.4em 0;
          line-height: 0.8;

          &:hover,
          &:focus,
          &.active {
            text-decoration: underline;
          }
        }
      }
    }

    @include breakpoint(small down) {
      padding: 0;

      ul {
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid #555964;
        border-bottom: 1px solid #555964;

        li {
          padding: 5px;
          text-align: center;
          text-transform: uppercase;
          letter-spacing: -1px;
        }
      }
    }
  }

  #block-informaciondecontacto {
    strong {
      font-size: 1.2em;
    }

    @include breakpoint(small down) {
      width: 80%;
      margin: auto;
      float: none;
      text-align: center;
      padding-bottom: 20px;
      font-size: 0.8em;

      strong {
        font-size: 1.6em;
      }
    }
  }

  ul.social-media-links--platforms.platforms.inline.horizontal{
    margin-left: 0;
  }

  #block-socialmedialinks-2 {
    margin: auto;
    text-align: center;

    @include breakpoint(small down) {
      padding-top: 40px;

      .block-title {
        display: none;
      }

      ul .fa {
        font-size: 2em;
      }
    }

    li {
      padding-right: 13px;
    }
  }
}

#block-legales {
  margin-top: -20px;

  @include breakpoint(small down) {
    margin-top: 0px;
  }

  a {
    width: 100%;
    display: inline;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;

    @include breakpoint(small down) {
      display: inline-block;
      padding-left: 0;
    }
  }
}

.bottom-bar {
  background: $medium-black;
  color: $white;
  font-size: 0.8em;
  padding: 25px 0;

  #block-copyright {
    margin-left: 30px;

    @include breakpoint(small down) {
      margin-left: 0;
      text-align: center;

      p {
        span {
          padding-left: 10px;
          width: 100%;
          display: inline-block;
          text-align: center;
          padding-top: 10px;
          padding-bottom: 5px;
        }
      }
    }
  }

  p {
    margin-bottom: 0;
  }

  .block-legales {
    a {
      color: $white;
      padding-left: 20px;
    }
  }
}
