//Footer
footer.bottom-bar {
    background: $dark-gray;
    padding-top: 50px;
    padding-bottom: 50px; 
    color: $white;
    font-size: 0.9em;
    @media only screen and (max-width: 600px){
        padding-top: 30px;
        padding-bottom: 0px; 
    }
    h2{
        font-size: 1.3em;
        color: $white;
        letter-spacing: 0;
        margin-bottom: 4px;
        &:before{
            display: none;
        }
    }
    a{
        color: $white;
    }
    #block-menufooter{
        ul{
            li{
                display: block;
                width: 100%;
                a{
                    padding: 0.4em 0;
                }
            }
        }
    }
    #block-informaciondecontacto{
        strong{
            font-size: 1.3em;
        }
        @media only screen and (max-width: 600px){
            text-align: center;
            border-bottom: 1px solid $medium-black;
            padding-bottom: 1rem;
            margin-bottom: 1rem;
        }
    }
    ul.social-media-links--platforms.platforms.inline.horizontal{
        margin-left: 0;
        a{
            &:hover{
                color: $secondary-color;
            }
        }
    }
    nav#block-menufooter {
        @media only screen and (max-width: 600px){
            text-align: center;
            border-bottom: 1px solid $medium-black;
            padding-bottom: 1rem;
            margin-bottom: 1rem;
        }
    }
    #block-socialmedialinks-2{
        @media only screen and (max-width: 600px){
            text-align: center;
            h2{
                display: none;
            }
        }
    }
    h2{
        padding-left: 0rem;
        padding-right: 0rem;
    }
}
.bottom-bar{
    background: $medium-black;
    color: $white;
    font-size: 0.8em;
    padding: 8px 0;
    @media only screen and (max-width: 600px){
        padding: 16px 0;
    }
    p{
        margin-bottom: 0;
        @media only screen and (max-width: 600px){
            text-align: center;
            margin-bottom: 1em;
        }
    }
    .block-legales{
        a{
            color: $white;
            padding-left: 20px;
            @media only screen and (max-width: 600px){
                padding-left: 0px;
                display: inline-block;
                width: 100%;
                text-align: center;
            }
        }
    }

}
