//Metaheader
.meta-header-wrapper{
    background: $dark-gray;
    ul.sf-menu{
        a{
            font-size: 0.8em;
            color: $white;
            text-decoration: none;
            padding: 1em 1.2em !important;
        }
    }
    #block-socialmedialinks{
        ul{
            margin-bottom: 0;
            margin-left: 0;
            a{ 
                color: $white;
                &:hover{
                    color: $secondary-color;
                }
            }
        }
    }
}
section#block-homemenu {
    font-size: 1rem;
    @media only screen and (max-width: 600px){
        padding: 0;
    }
    a{
        &.is-active, &.active-trail{
            background: $primary-color;
        }
    }
    &.columns{
        padding-right: 0;
        padding-left: 0;
    }
}
#block-homemenu{
    ul#superfish-home-menu-accordion{
        a {
            padding: 1.6em 0em;
            text-decoration: none;
        }
    }
}



//logo

section#block-colfuturo-branding {
    margin-top: 18px; 
    margin-bottom: 34px;
    @media only screen and (max-width: 600px){
        padding: 16px 0;
    }
    &.columns{
        padding-left: 0rem;
    }
}
header.header-page{
    background: $white;
    position: relative;
    @media only screen and (max-width: 600px){
        background: $primary-color;
        padding: 0.7rem;
        position: relative;
    }
}
//Menu Fixed
header.header-fixed{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 5;
}
section#block-logoblanco-2 {
    z-index: 3;
    margin-top: 7px;
    margin-left: 2.2em
}
//Menu
#block-navegacionprincipal {
    padding: 34px 0 0px 0 !important;  
    @media only screen and (max-width: 600px){
        position: absolute;
        top: -14px;
    }
    ul{
        float: right;
        li{
            a{
                font-size: 1em;
                color: $gray; 
                text-decoration: none;
                &:hover{
                    color: $primary-color;
                    background: $white;
                }
                ul{
                        box-shadow: none; 
                        li{
                            a{

                            }
                        }
                }
            }
            a.search{
                position: relative;
                text-indent: -10000px;
                display: inline-block;
                margin-left: 1rem;
                &::after{
                    position: absolute;
                    content: "";
                    width: 28px;
                    height: 28px;
                    background: url(../images/search.png);
                    top: 0;
                    left: 0;

                }
        }
        a.login{
            position: relative;
            text-indent: -10000px;
            display: inline-block; 
            margin-left: 1rem;
            &::after{
                position: absolute;
                content: "";
                width: 28px;
                height: 28px;
                background: url(../images/login.png);
                top: 0;
                left: 0;

            }
    }
    }
}
    ul.sf-menu.sf-style-white li, ul {
        background: $white;
    }
    ul.sf-menu.sf-style-white li li,
    ul.sf-menu.sf-style-white.sf-navbar > li > ul {
    background: #f4f4f4 !important;
    top: 2rem;
    }
    ul#superfish-main-accordion {
        margin-top: 12px;
        left: -21px !important;
        li{
            background: $dark-gray;
            a{
                padding: 1.4rem 1rem;
                color: $white;
                &:hover{
                    background: $dark-gray !important;
                }

            }
            li{
                background: $dark-gray !important;
                top: 0rem;

            }
            a.sf-depth-2{
                padding-left: 2rem;
            }
        }
    }
    ul.sf-menu .sf-sub-indicator {
        height: 5px;
        width: 8px;
        background: url(../images/indicator.png);
       &:after{
         display: none;
        }
    }
} 
nav#block-menusearchloginmobile{
    margin-top: 0.7rem;
    position: absolute;
    right: 0;
    display: inline-block;
    width: 26%;
    a.search-2{
        position: relative;
        text-indent: -10000px;
        display: inline-block;
        &::after{
            position: absolute;
            content: "";
            width: 28px;
            height: 28px;
            background: url(../images/search-white.png);
            top: 0;
            right: 0;

            }
    }
    a.login-2{
        position: relative;
        text-indent: -10000px;
        display: inline-block; 
        margin-left: 1rem;
        &::after{
            position: absolute;
            content: "";
            width: 28px;
            height: 28px;
            background: url(../images/login-white.png);
            top: 0;
            right: 0;
         }
    }
    &.columns{
        padding-right: .0rem;
        padding-left: 0rem;
    }
}
li.sf-clone-parent {
    display: none;
}
#block-navegacionprincipal ul li a {
    text-transform: uppercase;
    &.sf-depth-2{
        text-transform: none;
    }
}

a#superfish-main-toggle{
    span{
        display: none;
    }
}

//Ajustes menu mobile

div.sf-accordion-toggle.sf-style-white a {
    background: none;
    border: 0px;
    color: $white;
    padding: 1em 2em 1em 1em;
}
a#superfish-main-toggle{
        &:after{
            font-size: 3rem;
            font-weight: 500;
        }
}

//Superbanner
.superbanner{
        position: absolute;
        max-width: 87.5rem;
        margin-right: auto;
        margin-left: auto;
        z-index: 4;
        left: 0;
        right: 0;
        bottom: 2rem; 
        transform: translateY(-50%);
        padding-right: 0.7rem;
        padding-left: 0.7rem;
        h1{
            padding-right: 46%;
            color: $white;
            a{
                color: $white;
                text-decoration: none;
            }
            @media only screen and (max-width: 600px){
                padding-right: 0;
            }
        }
        .resume{
            color: $white;
            font-size: 1.2em;
            margin-bottom: 1.2rem;
        }
        .enlace.link {
            a{
                background: $primary-color;
                padding: 0.6rem 1rem;
                color: $white;
                border-radius: 8px;
                text-decoration: none;
                &:hover{
                    color: $white;
                    background: $secondary-color;
                    transition: all ease 0.6s;
                }
            }
        }
}
.block-views-block-encabezado-programas-block-1{
.views-row{
    position: relative;
}
}
.banner{
    position: relative;
    &:after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.36);
        width: 100%;
        height: 100%;
    }
}
.fondo-encabezado{
    height: 700px;
    @media only screen and (max-width: 600px){
        height: 420px;
    }
    &:after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.36);
        width: 100%;
        height: 100%;
    }
}
.fondo-encabezado-section{
    height: 500px;
    margin-bottom: 4rem;
    position: relative;
    @media only screen and (max-width: 600px){
        height: 400px;
    }
    &:after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.36);
        width: 100%;
        height: 100%;
    }
}
.block-views-block-encabezado-noticias-block-3, .block-views-block-encabezado-noticias-block-2{
    margin-bottom: 4rem;
    position: relative;
    @media only screen and (max-width: 600px){
        height: 400px;
    }
}