$bg-color: #d71924;

.block-views-blockgestion-en-cifras-block-1 {
  background: #464a55;
  color: #ffffff;
  position: relative;
  margin-top: 210px;
  padding-top: 60px;

  @include breakpoint(small down) {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 0px;
  }

  header {
    h2 {
      color: #ffffff;
    }

    @include breakpoint(small down) {
      text-align: center;

      h2 {
        margin-bottom: 10px;

        &::before {
          left: 0;
          right: 0;
          margin-right: auto;
          margin-left: auto;
        }
      }
    }
  }

  .description {
    @include breakpoint(small down) {
      margin-top: -40px !important;
    }
  }

  .field-content {
    .columns {
     text-align: center;

      .field-value {
        font-size: 4rem;
        font-weight: 600;
        margin-top: -20px;

        .porcenta {
          font-size: 0.5em;
          position: absolute;
          top: 0;
        }
      }
    }
  }

  .field-seleccionados {
    margin-top: 20px;
  }

  .description {
    margin-top: -18px;
  }

  .owl-carousel .owl-controls {
    position: relative;
    margin-top: 10px;
    margin-bottom: 60px;

    .owl-pagination {
      position: absolute;
      top: 20px;

      @include breakpoint(small down) {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .owl-buttons {
      position: absolute;
      width: 100%;
      bottom: 50%;
      z-index: 2;
      top: -100px;
      padding: 0;
    }

    .owl-page {
      span {
        background: #ffffff;
      }

      &.active {
        span {
          background: $bg-color;
        }
      }
    }
  }
}

.block-views-block-view-super-banner-home-block-1 {
   @include breakpoint(small down) {
     h1 {
       font-size: 1.675rem;
     }
  }

    img{
        width: 100%;
    }

    .owl-controls {
        position: absolute;
        bottom: 0px;
        width: 100%;
    }
    
  .owl-carousel .owl-pagination {
    @include breakpoint(small down) {
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }

    // .field-type-text-with-summary{
    //     position: absolute;
    //     top: 0;
    // }
    // .field-name-field-button-to-link{
    //     position: absolute;
    //     top: 0;
    // }
    // .field-name-node-title {
    //     position: absolute;
    //     top: 0;
    // }

    .image-wrapper {
        display: inline-block;
        width: 100%;
    }
    .wrapper-absolute{
        // padding: 0px 20%;
        position: absolute;
        display: inline-block;
        bottom: 100px; 
        .field-item{
            margin: 17px 0;
        }
        h2{
            font-weight: 800!important;
        }

        .field-name-body{
            .field-item{
                font-size: 1.7em;
                font-weight: 100;
            }
        }
    }
}

#block-views-block-noticias-block-1 {
  margin-top: 50px;

  @include breakpoint(small down) {
    margin-top: 0;

    .block-title {
       padding-bottom: 0;
       margin-bottom: 10px;
    }

    .columns {
      .views-field {
        padding-bottom: 30px;
        border-bottom: 1px solid #cacaca;
        margin-left: -20px;
        padding-left: 20px;
        margin-right: -20px;
        padding-right: 20px;
        padding-top: 30px;

        .field-tags-info {
          .padding-top-20 {
            margin-top: -10px;
          }
        }
      }

      &:last-of-type {
        .views-field {
          border-bottom: 0;
        }
      }
    }

    footer {
      .padding-top {
        padding-top: 40px;
      }

      .padding-bottom {
        padding-bottom: 30px;
      }
    }
  }
}
