$bg-link: #008cc7;
$bg-color: #d71924;

.columns {
  .block-views {
    .title,
    .block-title {
      margin-bottom: 50px;

      &::before {
        width:45px;
      }
    }
  }
}

#block-views-block-beneficiarios-block-2 {
  margin-top: -20px;
}

.block-views-blocknoticias-block-1 {
  .button {
    color: #ffffff;
    background: $bg-link;
    width: 65%;

    @include breakpoint(medium down) {
      width: 100%;
      margin-top: -40px;
    }
  }

  .content-link,
  .enlace {
    position: relative;
    display: inline-block;
    background: url(../images/more.png) no-repeat;
    margin-top: 20px;
    
    a {
      color: transparent;
    }
  }

  .field-tags-info {
    .link {
      border-right: 1px solid #ADADAD;
      color: #ADADAD;

      &:last-child {
        border-right: 0;
      }

      a {
        color: #ADADAD;
      }
    }
  }
}

.block-views-block-beneficiarios-block-1 {
  header {
    padding-bottom: 50px;
    font-size: 1.2em;
  }

  .views-field-title {
    color: $bg-color;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .views-field-body {
    font-size: 0.8em;
  }

  .owl-pagination {
    margin-top: 30px;

    .owl-page {
      span {
        background: #9ca4ab;
      }
    }
  }
}

.block-views-blockgestion-en-cifras-block-1 {
  background: #464a55;
  color: #ffffff;
  padding-bottom: 100px;

  header {
    h2 {
      font-size: 35px;
      font-weight: bold;
      color: #ffffff;
    }
  }

  .owl-wrapper-outer {
    padding-left: 20px;
    padding-right: 20px;
  }

  .owl-pagination {
    margin-top: 30px;

    .owl-page {
      span {
        background: #ffffff;
      }

      &.active {
        span {
          background: #ffffff;
        }
      }
    }
  }
}

#block-views-block-noticias-block-1 {
   margin-top: 50px;
}

#block-nextevents {
  background: #EDEDEF;
  margin-top: 50px;

  button {

  }
}

.block-views-block-view-super-banner-home-block-1 {
    img {
        width: 100%;
    }

    .owl-controls {
        position: absolute;
        bottom: 0px;
        width: 100%;
    }
    
    // .field-type-text-with-summary{
    //     position: absolute;
    //     top: 0;
    // }
    // .field-name-field-button-to-link{
    //     position: absolute;
    //     top: 0;
    // }
    // .field-name-node-title {
    //     position: absolute;
    //     top: 0;
    // }

    .image-wrapper {
        display: inline-block;
        width: 100%;
    }
    .wrapper-absolute{
        // padding: 0px 20%;
        position: absolute;
        display: inline-block;
        bottom: 100px; 

        .field-item{
            margin: 17px 0;
        }
        h2{
            font-weight: 800!important;
        }

        .field-name-body{
            .field-item{
                font-size: 1.7em;
                font-weight: 100;
            }
        }
    }
}
