// Elements
//
// Things to review before you write code here:
// - Be sure to load after "foundation" import.
// - Also, before adding styles be sure to modify variables in the
//   "base/_common.scss" file. You may not need to write any code.

// Headings
//------------------------------------------
// h1, h2, h3,
// h4, h5, h6 {}
h1{
    letter-spacing: -1px;
    line-height: 1.1;
    font-weight: 500;
}
h2{
    color: $black;
    letter-spacing: -1px;
    position: relative;
    margin-bottom: 40px;
    font-weight: 500;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    &:before{
        content: "";
        position: absolute;
        bottom: -12px;
        left: 0.7rem;
        width: 40px;
        height: 4px;
        background: $primary-color;
    }
}
.padding-top{
    padding-top: 80px; 
    @media only screen and (max-width: 600px){
        padding-top: 30px;
    }
}
.padding-bottom{
    padding-bottom: 80px;
    @media only screen and (max-width: 600px){
        padding-bottom: 30px;
    }
}

.button{
    font-size: 1rem;

        &:hover{
            color: $white;
        }

}
.button.secondary {
    color: $white;

        &:hover{
            color: $white;
        }

}
// Anchors
//-----------------------------------------------------------------------------
// a {}

// a:focus {}

// a.active,
// a:active,
// a:hover {}

// Form Input
//-----------------------------------------------------------------------------
// input[type="text"],
// input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// textarea {
// }

// input[type="text"],
// input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// textarea {

// }

select {
    background-image: url(../images/select.png) !important;
    background-size: 16px 10px !important; 
}

.owl-pagination{
    .owl-page.active{
        span{
            background: $white;
        }
    }
}
#block-breadcrumbs{
    position: absolute;
    z-index: 3; 
    max-width: 87.5rem;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    left: 0;
    right: 0;
    margin-top: 1.2rem;

    a{
        color: $white;
    }
}
hr{
    border-bottom: 1px solid $light-gray;
}
//Bullets
#block-colfuturo-content{
.field-node--body {
    ul{
        li{
            list-style: none;
            position: relative;
            padding: 0.4rem 1.2em;
            &:after{
                position: absolute;
                background: url(../images/bullet.png);
                width: 9px;
                height: 14px;
                content: "";
                left: 0;
                top: 11px;
    
            }
        }
    }
}
}