//BLoque programas home
$background: #d71924;

.block-views-block-nuestros-programas-block-1 {
  > div {
    .programas .columns:first-child {
      padding-left: 0;
      padding-right: 15px;
    }

    .programas .columns:nth-child(2) {
      padding-right: 15px;
      padding-left: 15px;
    }

    .programas .columns:last-child {
      padding-right: 0;
      padding-left: 15px;
    }	
  }
}
.container-programa {
  img {
    max-height: 140px;
  }

    .info {
        padding: 24px;
        background: $light-gray;
        .title{
            font-weight: 500;
            font-size: 1.4em;
            margin-bottom: 20px;
            color: $black;
            position: relative;
            &:before{
                content: "";
                position: absolute;
                bottom: -10px;
                left: 0;
                width: 20px;
                height: 4px;
                background: $primary-color;
            }
  }

  .enlace {
    margin-top: 40px;
    margin-bottom: 20px;

    a {
      text-indent: -10000px;
      position: relative;
      display: inline-block;

      &:after {
          background-image: url(../images/more.png);
          content: "";
          width: 36px;
          height: 25px;
          top: 0;
          left: 0;
          position: absolute;
        }
      }
    }
  }
}

#block-views-block-beneficiarios-block-1 {
  .block-title {
    padding-top: 80px;
  }
}

//Bloque asesoria
.block-views-block-asesoria-home-block-1 {
    background: $light-gray;
    padding-right: 0rem;
    padding-left: 0rem;
    overflow: hidden;

    //pendiente
    #asesoria-banner img {
      width: 100%;
      max-height: 450px;
    }

    a{
        color: $secondary-color !important;
        &:hover{
            color: $dark-blue !important;
        }
    }
    .info{
        padding: 40px 0;
    }
    img{

        @media only screen and (max-width: 600px) {
                position: relative;
                width: 100%; 
          }
    }
}

#block-socialmedialinks {
  li {
    padding-left: 7px;
    padding-right: 0px;

    .fa {
      font-size: 1rem;
      padding-top: 0.8em;
      padding-left: 0.8em;

      &:hover,
      &:focus {
        color: $background;
      }
    }
  }
}

#block-colfuturo-branding {
  img {
    max-width: 170px;
    padding-left: 10px;
    margin-top: -3px;
  }
}

.block-logoblanco {
  img {
    width: 180px;
    margin-left: 30px;
    margin-top: 15px;
  }
}

#block-copyright {
  margin-left: 30px;
}
