//BLoque programas home
$background: #d71924;
$bg-sidebar: #eff0f1;

.block-colfuturo-content {
  .body {
    img {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .field-item {
      h2 {
        &:not(:first-of-type) {
          border-top: 1px solid $bg-sidebar;
          padding-top: 30px;
        }
      }

      ul {
        margin-left: 50px;
        /*list-style-type: url();*/

        li {

        }
      }
    }
  }
}

.block-views-block-nuestros-programas-block-1 {
  > div {
    .programas .columns:first-child {
      padding-left: 0;
      padding-right: 15px;
    }

    .programas .columns:nth-child(2) {
      padding-right: 15px;
      padding-left: 15px;
    }

    .programas .columns:last-child {
      padding-right: 0;
      padding-left: 15px;
    }	
  }
}
.container-programa {
  img {
    max-height: 140px;
  }

    .info {
        padding: 24px;
        background: $light-gray;
        .title{
            font-weight: 500;
            font-size: 1.4em;
            margin-bottom: 20px;
            color: $black;
            position: relative;
            &:before{
                content: "";
                position: absolute;
                bottom: -10px;
                left: 0;
                width: 20px;
                height: 4px;
                background: $primary-color;
            }
  }

  .enlace {
    margin-top: 40px;
    margin-bottom: 20px;

    a {
      text-indent: -10000px;
      position: relative;
      display: inline-block;

      &:after {
          background-image: url(../images/more.png);
          content: "";
          width: 36px;
          height: 25px;
          top: 0;
          left: 0;
          position: absolute;
        }
      }
    }
  }
}

#block-views-block-beneficiarios-block-1 {
  .block-title {
    padding-top: 80px;
  }
}

//Bloque asesoria
.block-views-block-asesoria-home-block-1 {
    background: $light-gray;
    padding-right: 0rem;
    padding-left: 0rem;
    overflow: hidden;

    //pendiente
    #asesoria-banner img {
      width: 100%;
      max-height: 450px;
    }

    a{
        color: $secondary-color !important;
        &:hover{
            color: $dark-blue !important;
        }
    }
    .info{
        padding: 40px 0;
    }
    img{

        @media only screen and (max-width: 600px) {
                position: relative;
                width: 100%; 
          }
    }
}

#block-socialmedialinks {
  li {
    padding-left: 7px;
    padding-right: 0px;

    .fa {
      font-size: 1rem;
      padding-top: 0.8em;
      padding-left: 0.8em;

      &:hover,
      &:focus {
        color: $background;
      }
    }
  }
}

#block-colfuturo-branding {
  img {
    max-width: 170px;
    padding-left: 10px;
    margin-top: -3px;
  }
}

.block-logoblanco {
  img {
    width: 180px;
    margin-left: 30px;
    margin-top: 15px;
  }
}

#footer-first {
  @include breakpoint(medium down) {
    padding: 0;
  }
}

#block-informaciondecontacto {
  @include breakpoint(medium down) {
    width: 80%;
    margin: auto;
    float: none;
    text-align: center;
    padding-bottom: 20px;

    span {
      width: 100%;
      display: inline;
      font-size: 0.7em;

      &:first-child {
        display: block;
        width: 100%;
        font-size: 1em;
        font-weight: bold;
        letter-spacing: -1px;
      }
    }
  }
}

#block-socialmedialinks-2 {
  @include breakpoint(medium down) {
    padding-top: 20px;
    margin-bottom: -60px;

    .block-title {
      display: none;
    }

    ul {
      margin: auto;
      width: 75%;

      .fa {
        font-size: 2em;
      }
    }
  }
}

#block-menufooter {
  @include breakpoint(medium down) {
    padding: 0;

    ul {
      padding-top: 20px;
      padding-bottom: 20px;
      border-top: 1px solid #555964;
      border-bottom: 1px solid #555964;

      li {
        padding: 5px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: -1px;
      }
    }
  }
}
