//programas
$bg-sidebar: #ecedee;
$bg-default: #d71924;
$text-color: #ffffff;
$text-hover: #2087c5;
$bg-ul: #f8f8f8;
$bg-bottom: #0189C7;

.path-noticias,
.node--type-gestion-en-cifras,
.node--type-colfuturo,
.node--type-asesoria,
.node--type-programa {
  .superbanner {
    .info {
      top: 18rem;

      .link {
        margin-top: 20px;
      }

      h1 {
        font-size: 2.8em;
        color: #ffffff;
      }
    }
  }

  .l-help {
    .column-breadcrumb {
      .info {
        top: 10.5rem;
        margin-left: -25px;
      }
    }

    .block-breadcrumbs {
      ul {
        padding-top: 20px;
        position: absolute;
        z-index: 2;

        @include breakpoint(medium down) {
          padding-right: .625rem;
          padding-left: .625rem;
        }

        li {
          &:not(:last-child) {
            &::after {
              position: relative;
              margin: 0.4rem;
              opacity: 1;
              content: "/";
              color: $text-color;
            }
          }

          a {
            color: $text-color;
            font-weight: bold;
            text-decoration: none;
          }
        }
      }
    }
  }

  .owl-wrapper {
    .views-field-title {
      padding-top: 20px;
    }

    .views-field-body {
      font-size: 0.7em;
    }
  }

  .owl-carousel {
    .owl-controls {
      position: relative;

      .owl-pagination {
        position: relative;
        left: 0;
        margin-left: 0;
        padding-top: 10px;

        .owl-page {
          &:not(.active) {
            span {
              background: #A1A1A1;
            }
          }
        }
      }
    }
  }

  footer {
    .padding-top {
      padding-top: 10px;
    }
  }
}

.node--type-gestion-en-cifras,
.node--type-colfuturo,
.node--type-asesoria,
.node--type-programa {
  main {
    padding: 0px 20px 20px 40px;

    @include breakpoint(medium down) {
      padding: 15px;
    }


    .field-name-body {
      h2 {
        &:not(:first-of-type) {
          border-top: 1px solid #ecedee;
          margin-top: 40px;
          padding-top: 20px;
        }
      }
    }

    section {
      &.block {
        padding-top: 20px;
        padding-bottom: 20px;

        .button {
          background: $bg-bottom;
        }

        &:not(:first-of-type) {
          border-top: 1px solid #ecedee;
        }

        header {
          .columns {
            @include breakpoint(medium down) {
              padding-left: .625rem;
              padding-right: .625rem;
            }
          }
        }

        .block-title {
          margin-top: 20px;
        }
      }
    }
  }
}
