.nopadding{
    padding: 0!important;
}

.button{
    a{
        color:#fff;
    }
} 

.meta-header-wrapper{
    background: #484848;
    li{
        a{
            padding-left: 0px;
            color: #fff;
        }
    }
}